DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
POSTGRES_PASSWORD=
DATABASE_URL=postgresql://postgres:<POSTGRES_PASSWORD>@localhost:5432/trickcal_bot?schema=bot
REDIS_URL=redis://localhost:6379
DISCORD_WEBHOOK_URL=
NAVER_BOARD_API_URL=
NAVER_ARTICLE_API_BASE_URL=
